// Invitation-A CSS
img#invite1 {
    width:900px;
    padding: 15px 0;
}

#invite1FormContainer {
    position: absolute;
    top: 250px;
    left: 447px;
    width: 380px;
    //border:1px solid black;
}

#invite1FormContainer input {
    //border:none;
    //box-shadow: none;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.invite1.dateinput {
    //height:31px !important;
    font-size: 1.6em !important;
    font-weight: 700;
}
.invite1.timeinput {
    //height:18px !important;
    font-size: 1.6em !important;
    font-weight: 700;
}
.invite1.addressinput {
    //height:31px !important;
    //margin-top: 3px;
    font-size: 1.2em !important;
}
.invite1.citystatezipinput {
    //height:31px !important;
    //margin-top: 3px;
    font-size: 1.2em !important;
}
.invite1.phoneinput {
    //height:31px !important;
    //margin-top: 3px;
    font-size: 1.2em !important;
}
.invite1.emailinput {
    //height:31px !important;
    font-size: 1.2em !important;
}

