// The custom doTerra colors are in the variables.less file
@import "../less/variables.less";
@import "../less/mixins.less";

body { padding-bottom: 70px; }

/* One way to customize bootstrap buttons */
.btn-doterra {
    .button-variant(#fff; @doterra-primary-color; #fff);
    width:95px;
}

/* Another way to customize bootstrap buttons */
.btn-doterra2 {
	background: @doterra-primary-color;
	background-image: none;
	border:none;
	color: #fff;
	letter-spacing: 1px;
	transition: all 0.3s ease-in-out 0s;		
	-webkit-transition: all 0.3s ease-in-out 0s;		
}
.btn-doterra2:hover {
	background: @doterra-primary-hover-color;
	color: #fff;
}

ul.navbar-brand {
    list-style-type: none;
}

.navbar-text {
    color: @doterra-secondary-color;
}

/*
 *Setup VEX popup styling
 */

.vex-content.infoDialog {
	font-weight:300 !important;
	width:600px !important;
    background-color: @doterra-secondary-color !important;
    color:#fff !important;;
}

.vex-content.infoDialog ul.instructions, .vex-content.infoDialog ul.attributions {
	margin-left:10px !important;
	padding-left:10px !important;
	list-style: disc !important;
}

.vex-content.validateDialog {
	width:400px !important;
    background-color:#dedfe0 !important;
	font-weight:500 !important;
	font-size:0.85em !important;
}

.vex-overlay.validateDialogOverlay {
	background:none !important;
}

#footer .glyphicon {
    font-size:1.5em;
}

.choose {
    padding-left:15px;
    color: @doterra-primary-color;
}

// General Invitation CSS
#invitation {
    width:100%;
    padding: 5px 0 15px 0;
}

#invitationContainer {
    position: relative;
    //border:1px solid black;
}

.invitationLable {
    text-align:center;
    color: @doterra-primary-color;
}

#invitationForm input {
    background: transparent;
}
#invitationForm span.noborder {
    border:none;
    box-shadow: none;
    background: none;
}
#invitationForm input.noborder {
    border:none;
    box-shadow: none;
}

// Invitation-A CSS
@import "invite1.less";

// Invitation-b CSS
@import "invite2.less";

// Business Card A (front) CSS
@import "buscard-a-front.less";

// Business Card A (back) CSS
@import "buscard-a-back.less";

/* Used to style the jQuery tooptip */
.ui-tooltip {
	font-size:9px;
}
