<div id="invite1FormContainer">

    {% if page == 'edit_invite' %}
        {% set border = 'border' %}

        {% set dateph = 'placeholder="Class date"'|safe %}
        {% set timeph = 'placeholder="Class time"'|safe %}
        {% set addressph = 'placeholder="Address"'|safe %}
        {% set citystatezipph = 'placeholder="City, State  Zip"'|safe %}
        {% set phoneph = 'placeholder="Phone #"'|safe %}
        {% set emailph = 'placeholder="Email"'|safe %}
    {% elif page == 'publish_invite' %}
        {% set doreadonly = 'readonly' %}
        {% set border = 'noborder' %}

        {% set dateph = '' %}
        {% set timeph = '' %}
        {% set addressph = '' %}
        {% set citystatezipph = '' %}
        {% set phoneph = '' %}
        {% set emailph = '' %}
    {% endif %}

    {% if formdata %}
        {% if formdata['date'] %}
            {% set datevalue = formdata['date'] %}
        {% endif %}

        {% if formdata['time'] %}
            {% set timevalue = formdata['time'] %}
        {% endif %}

        {% if formdata['address'] %}
            {% set addressvalue = formdata['address'] %}
        {% endif %}

        {% if formdata['citystatezip'] %}
            {% set citystatezipvalue = formdata['citystatezip'] %}
        {% endif %}

        {% if formdata['phone'] %}
            {% set phonevalue = formdata['phone'] %}
        {% endif %}

        {% if formdata['email'] %}
            {% set emailvalue = formdata['email'] %}
        {% endif %}
    {% endif %}

    <fieldset {{ifdisabled}}>
        <input type="text" name='date' value='{{datevalue}}'
            class="form-control dateinput {{invitation}} {{border}}" {{dateph}} {{doreadonly}}>
        <input type="text" name='time' value='{{timevalue}}'
            class="form-control timeinput {{invitation}} {{border}}" {{timeph}} {{doreadonly}}>
        <input type="text" name='address' value='{{addressvalue}}'
            class="form-control addressinput {{invitation}} {{border}}" {{addressph}} {{doreadonly}}>
        <input type="text" name='citystatezip' value='{{citystatezipvalue}}'
            class="form-control citystatezipinput {{invitation}} {{border}}" {{citystatezipph}} {{doreadonly}}>
        <input type="tel" name='phone' value='{{phonevalue}}'
            class="form-control phoneinput {{invitation}} {{border}}" {{phoneph}} {{doreadonly}}>
        <input type="email" name='email' value='{{emailvalue}}'
            class="form-control emailinput {{invitation}} {{border}}" {{emailph}} {{doreadonly}}>
    </fieldset>
</div>
