{% extends "layout.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-doterra btn-large" name="publishbutton">Publish</button>
            <button type="submit" class="btn btn-doterra btn-large" name="editbutton" form="invitationForm">Edit</button>
        </div><br>

        <div id="invitationContainer">
            {% block invitationForm %}
            {% endblock %}

            {% if invitation == '???' %} // some jpg picture
                <img id={{invitation}} src="/static/img/{{invitation}}.jpg">
            {% else %}
                <img id={{invitation}} src="/static/img/{{invitation}}.png">
            {% endif %}

            <p>Formdata:</p>
            <ul id='formdata'>
                {% for entry in formdata %}
                    <li>{{ entry + ": " + formdata[entry] }} </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
