{% extends "layout.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="btn-group btn-group-lg">
            {% if page == 'edit_sample' %}
                <button type="submit" class="btn btn-doterra btn-large" name="savebutton" form="invitationForm">Save</button>
            {% elif page == 'publish_sample' %}
                <button type="submit" class="btn btn-doterra btn-large" name="editbutton" form="invitationForm">Edit</button>
            {% endif %}
        </div><br>

        <div id="invitationContainer">
            {% if page == 'edit_sample' %}
                <form id="invitationForm" action="{{url_for('publish_sample', sample=sample)}}" method="post" name="invitationForm" role="form">
            {% elif page == 'publish_sample' %}
                <form id="invitationForm" action="{{url_for('edit_sample', sample=sample)}}" method="post" name="invitationForm" role="form">
            {% endif %}
                {% include sample + ".html" %}
            </form>

            {% if sample == 'invite3' %}
                <img id={{sample}} src="/static/img/{{sample}}.jpg">
            {% else %}
                <img id={{sample}} src="/static/img/{{sample}}.png">
            {% endif %}

            <!--p>Formdata:</p>
            <ul id='formdata'>
                {% for entry in formdata %}
                    <li>{{ entry + ": " + formdata[entry] }} </li>
                {% endfor %}
            </ul-->
        </div>

    </div>
{% endblock %}
