{% extends "header.html" %}
{% block content %}
    <center>
        <div id="signin">
            {% with errors = get_flashed_messages(category_filter=['error']) %}
                {% if errors %}
                    <div id="formErrors">
                        <table>
                            {%- for error in errors %}
                                <tr>{{ error|safe }}</tr>
                            {% endfor -%}
                        </table>
                    </div>
                {% endif %}
            {% endwith %}

            <!--form id="signupForm" action="/" method="post">
                {{form.hidden_tag()}}
                <h2>Sign Up Please</h2>
                {{form.email(size=40, class_='ti', placeholder='Email address')}}
                {{form.password(size=30, class_='ti', placeholder='Password')}}
                {{form.firstname(size=15, class_='ti', placeholder='First name')}}
                {{form.lastname(size=30, class_='ti', placeholder='Last name')}}
                {{form.city(size=20, class_='ti', placeholder='City')}}
                {{form.state(size=20, class_='ti', placeholder='State')}}
                {{form.zipcode(size=5, class_='ti', placeholder='Zipcode')}}
                {% for subfield in form.gender %}
                    <ul id="clickers">
                        <li>
                            {{ subfield }}
                            {{ subfield.label }}
                        </li>
                    </ul>
                {% endfor %}
                <fieldset>
                    <input class="ti" type="submit" id="signin_submit" name="signin_submit" value="Sign Up"/>
                    <label>
                        {{form.signin_remember}}Stay signed in?
                    </label>
                </fieldset>
            </form-->
        </div>
    </center>
{% endblock %}
